* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body{
    background-color: rgb(255, 226, 168);
} */

.card-main-body {
    width: 100%;
}

.card-main-body .card-body {
    position: relative !important;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    width: auto !important;
    height: 755.93px;
    margin-top: 20px;
    z-index: 9999 !important;
    background-color: white !important;
}

.card-body-part .looking-property span {
    border: 1px solid #ebecf0;
    border-radius: 24px;
    padding: 7px 22px;
    font-size: 20px;
    margin-right: 10px !important;
    color: black;
    cursor: pointer;
}

.bg-salmon {
    background-color: #f0f9ff;
    border: 1px solid #a3daff;
    color: white;
    font-weight: 600;
}

.property-type-details {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.single-property {
    border: 1px solid #ebecf0;
    font-size: 20px;
    padding: 7px 22px;
    border-radius: 24px;
    transition: 0.3s;
    text-transform: capitalize;
}

.property-type-details .single-property:hover {
    background-color: #f4f5f7;
    cursor: pointer;
}

.MuiTypography-root {
    font-size: 20px !important;
    margin-right: 10px !important;
}

.submit-btn {
    font-size: 30px;
    text-align: right !important;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 100% !important;
}
.submit-btn1{
    position: absolute;
    bottom: 20px;
    right: 30px;
    left: 30px;
    width: calc(100%-30px);
}

.container-1 {
    padding: 0px 50px 50px;
}

.select-option {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    align-items: center;
    gap: 15px;
}

.select-option select {
    width: auto !important;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    align-items: center;
}

.fields {
    width: 48% !important;
}
.MuiTablePagination-displayedRows{
    margin: 0 !important;
}